<div class="justify-center flex p-4 pt-8 pl-8 bg-slate-900 h-screen">
  <div class="max-w-screen-lg w-full">
    <div class="grid grid-cols-6 gap-4 w-full h-full p-8">
      <div class="col-span-5">
        <app-board
          class="w-full h-full shadow-zinc-100 rounded"
          [chess]="chess"
          [board]="board"
        ></app-board>
      </div>
      <div class="bg-slate-900 w-full flex justify-center items-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded h-14"
          (click)="initGame()"
          *ngIf="!isStarted"
        >
          Play
        </button>
      </div>
    </div>
  </div>
</div>
